/Practical/Practical 5/P5Q1/nbproject/private/
/Practical/Practical 5/P5Q1/build/
/Practical/Practical 5/P5Q2/nbproject/private/
/Practical/Practical 5/P5Q2/build/
/Practical/Practical 5/P5Q3/nbproject/private/
/Practical/Practical 5/P5Q3/build/
/Practical/Practical 5/P5Q3/dist/
/Practical/Practical 5/P5Q4/nbproject/private/
/Practical/Practical 5/P5Q4/build/
/Practical/Practical 5/P5Q5/nbproject/private/
/Practical/Practical 5/P5Q5/build/
